.wrapper {
    overflow: hidden;
    min-height: 100%;

    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: content-box;
}

.case {
    max-width: 770px;
    margin: 0 auto;
    // padding: 0 15px;
    // box-sizing: content-box;
}

.subtitle {
    font-weight: 700;
    font-size: 24px;
    line-height: 160%;
    color: #000;
}

.text {
    font-weight: 500;
    font-size: 16px;
    line-height: 160%;
    color: #666666;
}

.list {
    font-weight: 600;
    font-size: 16px;
    line-height: 230%;
}

.point {
    padding-left: 15px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 15px;
        left: 0;

        width: 5px;
        height: 5px;
        background-color: #f25822;
        border-radius: 50%;
    }
}

.link {
    color: #666;
}

.logo {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;

    color: #000000;

    &__image {
    }

    &__span {
        color: #f25822;
    }

    position: relative;
    display: inline-block;
    padding: 0 64px;

    &::before {
        content: "";
        position: absolute;
        top: -8px;
        left: 0;

        width: 43px;
        height: 50px;
        background: url("./../img/logo.png") 0 0 / contain no-repeat;
    }
}

.button {
    display: inline-block;

    background: #f25822;
    border-radius: 30px;
    font-weight: 600;

    color: #fff;

    transition: all 0.3s ease 0s;

    &:hover {
        box-shadow: 4px 4px 8px rgba(242, 88, 34, 0.2);
        border-radius: 50px;
    }
}
