.footer {
    padding: 100px 0 19px;
    background-color: #f3f3f3;

    &__row {
        display: flex;
        margin: 0 -15px;
        margin-bottom: 50px;
    }

    &__column {
        flex: 0 1 25%;
        padding: 0 15px;

        &_col-1 {
        }

        &_col-2 {
        }

        &_col-3 {
        }

        &_col-4 {
        }
    }

    &__grow {
    }

    &__company {
    }

    &__services {
    }

    &__contact {
    }

    &__copy {
        border-top: 1px solid #aaa;
        padding-top: 19px;

        font-weight: 500;
        font-size: 16px;
        line-height: 230%;
        text-align: center;

        color: #888;
    }
}

.grow {
    &__logo {
    }

    &__text {
        margin-bottom: 24px;
    }

    &__socials {
        display: flex;
    }

    &__item {
        position: relative;

        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: transparent;

        margin-left: 6px;
        &:fisrt-child {
            margin-left: 0;
            margin-right: 7px;
        }

        transition: all 0.3s ease 0s;

        &:hover {
            background: #f25822;

            .grow__ref {
                color: #fff;
            }
        }
    }

    &__ref {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        color: #666;
        font-size: 16px;

        transition: all 0.3s ease 0s;
    }
}

.company {
    &__subtitle {
        margin-bottom: 34px;
    }

    &__list {
    }

    &__point {
    }

    &__link {
    }
}

.services {
    &__subtitle {
        margin-bottom: 26px;
    }

    &__list {
    }

    &__point {
    }

    &__link {
    }
}
.contact {
    &__subtitle {
        margin-bottom: 33px;
    }

    &__list {
        width: 219px;
    }

    &__element {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;
        color: #666;

        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__span {
        font-weight: 600;
        font-size: 16px;
        line-height: 150%;

        color: #333;
    }

    &__link {
        color: #666;
    }
}
