.header {
    padding: 40px 0;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
    }

    &__nav {
    }

    &__wrap-button {
    }

    &__link {
    }
}

.logo {
    &__span {
    }
}

.nav {
    &__list {
        display: flex;

        font-size: 14px;
        line-height: 144%;
    }

    &__item {
        margin-left: 35px;

        &:nth-child(1) {
            margin-left: 240px;
        }
    }

    &__ref {
        color: #000;

        transition: all 0.3s ease 0s;

        &:hover {
            color: #f25822;
        }
    }
}
