.header {
    padding: 40px 0;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        margin-right: 35px;
    }

    &__nav {
    }

    &__wrap-button {
    }

    &__button {
        padding: 12px 27px 13px;

        font-size: 12px;
        line-height: 117%;
    }
}

.logo {
    &__span {
    }
}

.nav {
    &__list {
        display: flex;

        font-size: 14px;
        line-height: 144%;
    }

    &__item {
        margin-right: 35px;

        &_droplist {
            padding-right: 11px;
            margin-right: 24px;

            position: relative;

            &:before {
                content: "";
                position: absolute;
                top: 7px;
                right: 0;
                width: 6px;
                height: 6px;
                border-right: 1px solid #000;
                border-bottom: 1px solid #000;
                transform: rotate(45deg);
            }
        }
    }

    &__ref {
        color: #000;

        transition: all 0.3s ease 0s;

        &:hover {
            color: #f25822;
        }
    }
}
