.marketing {
    padding: 103px 0;

    &__body {
        position: relative;
        width: 543px;

        &::before {
            content: "";
            position: absolute;
            top: 34px;
            left: -98px;

            width: 60px;
            height: 60px;

            background: rgba(242, 88, 34, 0.46);
            border-radius: 13px;
            transform: rotate(-30deg);
        }

        &::after {
            content: "";
            position: absolute;
            top: -103px;
            right: -1027px;

            width: 1027px;
            height: 577px;
            background: url("./..//img/test.png") 0 0 / contain no-repeat;
        }
    }

    &__heading {
        font-weight: 700;
        font-size: 60px;
        line-height: 117%;

        margin-bottom: 17px;
    }

    &__text {
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;

        color: #888888;

        margin-bottom: 37px;
    }

    &__wrap-buttons {
        display: flex;
        align-items: center;
    }

    &__wrap-link {
        &_first {
        }

        &_second {
            margin-left: 30px;
        }
    }

    &__button {
        padding: 15px 36px 16px 35px;

        font-size: 15px;
        line-height: 153%;
    }

    &__video {
        position: relative;
        font-size: 15px;
        line-height: 120%;
        padding-left: 45px;

        color: #aaa;

        &:before {
            content: "";
            position: absolute;
            top: -6px;
            left: 0;

            width: 30px;
            height: 30px;
            background: url("./../img/play.png") 0 0 / contain no-repeat;
        }
    }

    &__wrap-image {
    }

    &__image {
    }
}
